{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <hgroup>
        <h1 class="page-title">
          {{- .Title -}}
        </h1>
        {{- if .Description }}
        <p class="post-description">
          {{- .Description | htmlUnescape | markdownify | safeHTML -}}
        </p>
        {{- end }}
    </hgroup>
</header>
{{- end }}

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- end }}{{/* end main */ -}}
