{{- $schema := partial "metadata/schemas/WebPage.html" . -}}
{{- $schema_ := partial "meta.html" . -}}

{{- if $schema_ -}}
{{- if or (eq (index $schema_ "@type") "Person") (eq (index $schema_ "@type") "WebSite") -}}
{{- $schema = slice $schema_ $schema -}}
{{- else -}}
{{- $schema = merge $schema_ (dict "mainEntityOfPage" $schema) -}}
{{- end -}}
{{- end -}}

{{- if reflect.IsMap $schema }}
{{ $schema = (merge $schema (dict "@context" "https://schema.org"))}}
{{- else -}}
{{ $schema = (apply $schema "merge" "." (dict "@context" "https://schema.org"))}}
{{- end -}}

<script type="application/ld+json">
{{- $schema | jsonify (dict "indent" "  ") | replaceRE `.*"email".*\n` "" | safeJS -}}
</script>