{{- $person := false -}}
{{- if reflect.IsMap $.Site.Data.jsonld.Person.EricHallahan  -}}
{{- $person = $.Site.Data.jsonld.Person.EricHallahan -}}
{{- $person = merge $person (dict "email" "") -}}
{{ range $aboutpage := (where .Site.Pages "Params.layout" "aboutpage") }}
{{- $person = merge $person (dict "@id" (printf "%s%s" $aboutpage.Permalink "#person")) }}
{{- end -}}

{{- else -}}
{{- $splitName := split . " " -}}
{{- $person = dict "@type" "Person" "name" . "familyName" (index $splitName 1) "givenName" (index $splitName 0) -}}
{{- end -}}
{{- return $person -}}