<header class="header">
	<div class="nav-container">
		{{- $label_text := (.Site.Params.organization.name | default .Site.Title) }}
		{{- if .Site.Title }}
		<a class="logo" href="{{ "" | absLangURL }}">
			<span class="logotype">{{- $label_text -}}</span>
		</a>
		{{- end }}
		{{- $currentPage := . }}
		<nav class="nav">
			<ul id="menu">
				{{- range .Site.Menus.main }}
				{{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
				{{- $page_url:= $currentPage.Permalink | absLangURL }}
				{{- $is_search := eq ($.Site.GetPage .KeyName).Layout `search` }}
				<li>
					<a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
					{{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
						<span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
							{{- .Pre }}
							{{- .Name -}}
							{{ .Post -}}
						</span>
					</a>
				</li>
				{{- end }}
			</ul>
		</nav>
	</div>
</header>
