main {
    /*border-block-start-width: 0.0625in; 
    border-inline-start-width: 0.0625in; 
    border-start-start-radius: 1in; 
    border-style: solid;
    border-inline-end: initial; 
    border-block-end: initial;
    padding-block-start: 2em;
    padding-inline-start: 2em;
    padding-inline-end: calc(1.5rem + 0.125in + 2em);
    padding-block-end: calc(1.5rem + 0.125in + 2em);*/
    height: 100%;
    width: auto;
}

.main {
    position: relative;
    /*min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--footer-height));*/
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
    padding-left: var(--gap);
    padding-left: max(var(--gap),env(safe-area-inset-left));
    padding-right: var(--gap);
    padding-right: max(var(--gap),env(safe-area-inset-left));
    /*margin-bottom: calc(var(--gap) / 2);
    margin-top: calc(var(--gap) / 2);*/
    padding-bottom: calc(var(--gap) / 2);
    padding-top: calc(var(--gap) / 2); /*clamp(1em,calc(100vw / 16 - 32px),1.125em);*/
}

a {
    color: inherit;
}