.post-meta {
    display: flex;
    flex-wrap: wrap;
}

.post-meta > * {
    margin-inline-end: 1em;
    white-space: nowrap;
}

.post-meta > *:last-child {
    margin-inline-end: initial;
}

.post-meta > *:nth-last-child(2):not()::after {
    content: " | ";
}

.post-meta .article-type {
    margin-left: auto;
}

.article-type .essay {
    background-color: dodgerblue;
    background-color: rgba(30, 143, 255, 0.50);
}

.article-type .blogpost {
    background-color: green;
    background-color: rgba(0, 128, 0, 0.50);
}

.article-type .anecdote {
    background-color: red;
    background-color: rgba(255, 0, 0, 0.50);
}

.article-type > * {
    border-radius: 0.5em;
    padding-inline: 0.3em;
}